@using Microsoft.AspNetCore.Identity
@model IEnumerable<AutoDoctor.Web.ViewModels.Marketplace.AllOffersViewModel>
@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager

@{
    ViewData["Title"] = "Marketplace";
}

<h2 class="text-center mb-4">All Offers</h2>

<div class="row">
    @if(!Model.Any()){
        <h3 class="text-center">No offers available</h3>
    }
    @foreach (var offer in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <a href="@Url.Action("Details", "Marketplace", new { id = offer.OfferId })">
                    <img src="@Html.Raw(offer.Part.ImageUrl)" class="card-img-top" alt="Product image">
                </a>
                <div class="card-body">
                    <h5 class="card-title">@offer.Part.Name</h5>
                    <h3 class="card-text">Price: @string.Format("{0:C}", offer.Part.Price)</h3>
                    <p class="card-text">Manufacturer: @offer.Part.Manufacturer.UserName</p>
                    @if (_signInManager.IsSignedIn(User))
                    {
                        var user = await _userManager.GetUserAsync(User);
                        if (await _userManager.IsInRoleAsync(user, "Admin") || offer.User.Id == user.Id)
                        {
                            <div class="d-flex justify-content-between">
                                <a href="@Url.Action("Edit", "Offer", new { offerId = offer.OfferId })" class="btn btn-primary">Edit</a>
                                <a href="@Url.Action("Delete", "Offer", new { offerId = offer.OfferId })" class="btn btn-danger">Delete</a>
                            </div>
                        }
                        else
                        {
                            <form method="post" action="@Url.Action("Buy", "Offer", new { id = offer.OfferId})">
                                <button type="submit" class="btn btn-primary mt-3 align-self-center w-100">Buy</button>
                            </form>
                        }
                    }
                    else
                    {
                        <a href="https://localhost:7271/Identity/Account/Login" class="btn btn-primary mt-3 align-self-center w-100">Buy</a>
                    }
                </div>
            </div>
        </div>
    }
</div>
